@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

:root {
    --calc-bckgrd: #3b3b3b;
    --calc-ac: #E4F132;
    --calc-oper: #0A3409;
    --calc-num: #98CA32;
    --calc-eq: #559E54;
}

* {
    color: white;
    font-family: 'Comfortaa', cursive;
}
body {
    background-color: #1d1d1d;
}

table {
    margin: auto;
    margin-top: 20vh;
    background-color: var(--calc-bckgrd);
    border-radius: 8px;
    border-width: 200px;
    border: 4px solid var(--calc-eq);
}

th {
    height: 32px;
    width: 100%;
    font-size: x-large;
    text-align: right;
    padding: 5px;
}

#input-display {
    color: var(--calc-eq);
    font-size: large;
}

td {

    height: 60px;
    width:  60px;
    padding: 0px;
}

button {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    font-size: large;
}

.btn-ac {
    background-color: var(--calc-ac);
}

.btn-main {
    background-color: var(--calc-num);
}

.btn-operation {
    background-color: var(--calc-oper);
}

.btn-equals {
    background-color: var(--calc-eq);
}